# PUBLIC: Storyblok delivery token, wird im Client-Bundle exponiert.
# Niemals durch einen Management- oder Personal-Token ersetzen!
STORYBLOK_DELIVERY_API_TOKEN=<REPLACE_WITH_YOUR_TOKEN>
STORYBLOK_PREVIEW_SECRET=<REPLACE_WITH_YOUR_TOKEN>
STORYBLOK_API_BASE_URL=https://api.storyblok.com
STORYBLOK_REGION=eu

NEXT_PUBLIC_BASE_URL=<REPLACE_YOUR_BASE_URL>
NEXT_PUBLIC_SITE_NAME=<REPLACE_YOUR_SITE_NAME>
NEXT_PUBLIC_SITE_DESCRIPTION=<REPLACE_YOUR_SITE_DESCRIPTION>
NEXT_PUBLIC_SITE_SHORTCUT="<REPLACE_YOUR_SITE_SHORTCUT>" # This is used for cookies (example: BT)